* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:url(../images/backimg.jpg);
    background-image: url(../images/backimg.jpg);
    background-attachment: fixed;
    background-position: center;
}

.center {
    margin: 0 auto;
}


.divider {
    border-top: .3rem double;
    border-bottom: none;
    margin: 2rem auto;
}

/* ==============================
   Header
   ============================== */

.mainimg {
    position: relative;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#header {
    display: inline-block;
    position: relative;
}

.topname {
    position: absolute;
    margin-right: 0px;
    top: 40%;
    left: 18%;
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
    
}

/* ==============================
   About
   ============================== */

#about {
    padding-left: 1em;
    padding-right: 1em;
}
 

/* ==============================
   Contact Form
   ============================== */

   #contact {
    background-image: url("../images/grass.jpeg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 65%;
    padding-bottom: 30px;     
}

#contactbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 6px solid #EEEEEE;
    margin: auto;
    width: 75%;
    background-color: rgba(255, 255, 255, .7);
    padding: 8px 0 25px 0;
    box-shadow: 10px 20px 5px rgba(0, 0, 0, .2);
}

#contactbox h3{
    font-family: 'Slabo 27px', serif;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    font-weight: 800;
    margin: 15px 0 10px 0;
}

.client_input{
    width: 80%;
    margin: 5px 0;
    padding: 0 10px;
    font-size: .8rem;
    border-style: solid;
    border: none;
    border-radius: 6px;
    background-color: #F5F5F5;
}

.client_input:focus {
    border: solid;
    border-color: #4a5cc3;
    outline: none;
}

#client_name,
#client_email,
#client_phone{
    height: 2.5rem;
}

#client_message {
    margin: 13px 0 15px 0;
    padding: 10px;
}

#contactbuttons {
    width: 100%;
    text-align: center;
}

   /*----- Form Button ----- */

   .formsubmit {
    border: none;
    background: none;
    cursor: pointer;
    width: 80%;
    font-size: 1.2rem;
    padding: 8px 20px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s;
    background: #E6E6FA;
    color: #fff;
    box-shadow: 0 6px #E6E6FA;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px;
}

.formsubmit:hover {
    box-shadow: 0 8px #E6E6FA;
    top: -2px;
}

.formsubmit:active {
    box-shadow: 0 0 #E6E6FA;
    top: 6px;
}


/* ==============================
   Media Queries
   ============================== */

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 786px) {
    .topname {
      font-size: 2.5em;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 352px) {
    .topname {
      font-size: 1em;
    }
  }