* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.center {
    margin: 0 auto;
}


.divider {
    background-color: #070505;
    border-top: .3rem dotted;
    border-bottom: none;
    margin: 2rem auto;
}


#header {
    width: 100%;
}

#topbar {
    background-color: black;
}